<template>
   <!--  <img class="logo" src={cloudwerxLogoURL} alt="Cloudwerx Logo"> -->
        <div class ="login-div slds-align-middle">
            <div class=" login-text slds-text-align_center slds-text-heading_large slds-align-middle"> 
                Login 
            </div>
            <template if:true={showSendOtpSection}>
                <lightning-input    required 
                                    class="slds-p-around_medium " 
                                    type="email" label="Official Email Address"  
                                    onchange={EmailInputChangeHandler} 
                                    placeholder="Enter your cloudwerx email address."
                                    value={email}>
                </lightning-input>
                                 
                <lightning-button  class = "slds-p-around_medium slds-float_right" variant="Brand" label="Send OTP" onclick={sendOtpClickHandler}></lightning-button>
            </template>
            
            <template if:true={showLoginSection}>
                <lightning-input  required="" class="slds-p-around_medium " type="text" label="Enter OTP"  onchange={OtpInputChangeHandler}></lightning-input>
                <div class="slds-grid slds-wrap slds-grid_align-spread slds-p-horizontal_small slds-m-bottom_medium">
                    <lightning-button  class = "slds-p-around_medium slds-float_left" variant="Brand" label="Back" onclick={backClickHandler}></lightning-button>
                <lightning-button  class = "slds-p-around_medium slds-float_right" variant="Brand" label="Login" onclick={loginClickHandler}></lightning-button>
                </div>
               <!--  <lightning-button  class = "slds-p-around_medium slds-float_left" variant="Brand" label="Back" onclick={backClickHandler}></lightning-button>
                <lightning-button  class = "slds-p-around_medium slds-float_right" variant="Brand" label="Login" onclick={loginClickHandler}></lightning-button>
            --> </template>      
        </div>
    

</template>