*{
	--sdc-brand-color:rgb(65, 90, 168);
	--sds-c-button-brand-color-background:var(--sdc-brand-color);
	--sds-c-button-brand-color-background-hover:var(--sdc-brand-color);
	--sds-c-button-brand-color-border:var(--sdc-brand-color);
	--sds-c-button-brand-color-border-hover:var(--sdc-brand-color);
	--lwc-carouselIndicatorColorBackgroundActive:rgba(65,90,168,0.75);
}
html,body{
    min-height:100%;
    background:#fff;
    position:relative;
}
.full-height{
    min-height:100%;
    max-height: 100%;
}
.page-container{
    min-height:calc(100vh - 98px);
    min-height:calc(100vh - 98px);
	padding-bottom:2rem;
}
p{
	font-size:0.875rem;
}
.siteforceContentArea .comm-layout-column:not(:empty){
    --lwc-layoutVerticalPadding:0 !important;
}
.slds-col--padded{
	padding:0;
}
.siteforceContentArea .comm-content-header{
    display:none;
}
.slds-icon-custom-custom48{
	--sds-c-icon-color-background:var(--sdc-brand-color);
}
.header{
	padding:0.5rem 1rem;
	background:#fff;
	width:100%;
	box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
	position: relative;
	z-index: 5;
	align-items:center;
	justify-content:space-between;
}
.slds-container_x-large{
    margin:0 auto;
    width:100%;
    padding:0 15px;
}
.slds-button_large .slds-button{
    min-width:100%;
    width:100%;
}
.banner-slider .slds-carousel__panel{
    height:85vh;
}
.slds-carousel__indicators{
    position:absolute;
    bottom:0;
}
.banner-slider .slds-carousel__image > img{
    height:85vh;
}
.owl-carousel{
    box-shadow:2px 1px 12px 3px rgb(0 0 0 / 30%);
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height:90vh;
}
.owl-theme .owl-controls{
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
}
.header a{
	display:inline-block;
}
.header img{
    width:140px;
    height:auto;
}
.header .partner-logo{
	margin-left:-30px;
}
.video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}
.pv-3{
    padding-top:3rem;
    padding-bottom:3rem;
}
.pv-5{
    padding-top:5rem;
    padding-bottom:5rem;
}
.video-container .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.donation-card{
    border-radius: 0.5rem;
    overflow:hidden;
    margin-bottom: 1.5rem;
	box-shadow:0 10px 15px 0px rgb(65 90 168 / 30%);
}
.donation-card .slds-media__figure{
    width:20rem;
    height:20rem;
}
.footer{
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    padding:0.5rem;
    text-align: center;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.25);
	z-index:5;
}

/* leader board page css */
.donors-board{
    position:relative;
    box-shadow:0 10px 35px 0 rgb(5, 90, 168, 12%);
    border-radius: 0.5rem;
    padding-bottom: 1rem;
	min-width:300px;
	margin-bottom:1rem;
}
.donors-list li{
    display:flex;
    padding:0.75rem 1rem;
}
.ml-button{
    position: absolute;
    bottom: -11px;
    z-index: 5;
    transform: translate(90%, 50%);
}
.slds-button_large{
    width:100%;
}
.donors-list .slds-avatar{
    border-radius: 50%;
    background:#f2f2f2;
}
.donors-list li span:nth-child(2){
    margin:0 0.5rem;
    width:calc(100% - 100px);
}
.donors-list li span:nth-child(3){
    white-space: nowrap;
}
.counter-wrapper{
    border:1px solid #ccc;
    max-width:250px;
}
.counter{
	font-size:1.8rem;
}
.social-button{
    width:35px;
    height:35px;
    border-radius: 50%;
    background-size: cover;
    border:0;
    margin: 0 10px;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.25);
}
.social-button:focus,.social-button:hover{
    box-shadow:none;
    border:0;
    background-color: transparent;
}
.fb-button{
    background:url('../images/facebook.svg') no-repeat;
}
.wa-button{
    background:url('../images/whatsapp.svg') no-repeat;
}
.lk-button{
    background:url('../images/linkedin.svg') no-repeat;
    background-size: 100%;
}
.tw-button{
    background:url('../images/twitter.svg') no-repeat;
}
.mail-button{
    background:url('../images/mail.svg') no-repeat;
}
.slds-tabs_default__item .slds-tabs_default__link{
	font-size:1rem;
	font-weight:400;
}
.slds-tabs_default__item.slds-is-active .slds-tabs_default__link{
	font-weight:700;
}
.custom-counter{
	position:relative;
	max-width:160px;
	border:1px solid #ccc;
	border-radius:0.5rem;
}
.slds-carousel{
	box-shadow:0px 0px 20px 0px rgb(0 0 0 / 20%);
}
.slds-carousel__indicator-action{
	--lwc-colorBorder:#333;
}
.slds-form-element__label{
	--lwc-formLabelFontSize: 0.875rem;
    --lwc-colorTextLabel: #000;
}
.slds-dl_horizontal__label{
	font-weight:600;
}
.acknowledge-container{
	max-width: 400px;
    margin: 20vh auto 0;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px 2px rgb(0 0 0 / 10%);
	text-align:center;
}
.acknowledge-container .slds-theme_default{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* success screen css */
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4CAF50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
  content: "";
  height: 100px;
  position: absolute;
  background: #FFFFFF;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #FFFFFF;
}
.slds-combobox_small{
	max-width:130px;
}
.slds-dl_horizontal{
	font-size:0.875rem;
}
.slds-dl_horizontal .slds-dl_horizontal__label,
.slds-region_narrow .slds-dl_horizontal .slds-dl_horizontal__label{
	width:55%;
}
.slds-dl_horizontal .slds-dl_horizontal__detail,
.slds-region_narrow .slds-dl_horizontal .slds-dl_horizontal__detail{
	width: 45%;
	margin-bottom:1rem;
}
.slds-progress-bar__value{
	background:var(--sdc-brand-color);
}
.slds-tabs_default__content{
	padding:1rem 1.5rem;
}
.about-us-wrapper{
	padding:1rem;
	box-shadow:0 10px 15px 0px rgb(65 90 168 / 30%);
}
.slds-box{
	box-shadow:0 3px 20px 0px rgb(65 90 168 / 30%);
}
@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
.toggle-btn{
  width:30px;
  height:30px;
  border:0;
  box-shadow: none;
  outline:none;
  display:none;
  padding:0;
}
.toggle-btn:hover,
.toggle-btn:focus{
	outline:none;
	box-shadow:none;
}
.toggle-btn span{
  width:30px;
  height:3px;
  border-radius: 5px;
  background:#000;
  display:flex;
  justify-content:center;
  align-items:center;
}
.toggle-btn span:before,
.toggle-btn span:after{
  position:absolute;
  content:"";
  top:5px;
  width:100%;
  height:2px;
  background:#000;
}
.toggle-btn span:after{
	top:auto;
	bottom:5px;
}
.right-side-nav{
  margin-right: 1rem;
}
.nav-menu a{
  font-size: 1.25rem;
  margin-right:1rem;
}
.right-side-nav{
  display:flex;
  align-items:center;
}

@media(max-width:991px){
	#owl-demo .item img{
		height:50vh;
	}    
	.slds-container_x-large{
		padding:0.75rem;
	}
	.pv-3{
		padding-top:1.5rem;
		padding-bottom:1.5rem;
	}
	.pv-5{
		padding-top:2rem;
		padding-bottom:2rem;
	}
	.banner-slider .slds-carousel__panel,
	.banner-slider .slds-carousel__image > img{
		height:30vh;
	}
	.counter{
		font-size:1.5rem;
	}
	.toggle-btn{
	display:flex;
	}
	.right-side-nav{
		display: none;
		align-items: center;
		position: fixed;
		flex-direction: column;
		width: 100%;
		height: auto;
		background: #fff;
		transform: translateY(-100%);
		left: 0;
		right: 0;
		top: 70px;
		padding: 1.5rem 0;
		border-bottom:1px solid #ccc;
		box-shadow:0 8px 10px 2px rgb(0 0 0 / 13%);
	}
	.open-nav .right-side-nav{
	  display:flex;
	  transform: translateY(0%);
	}
	.nav-menu{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.open-nav .nav-menu a{
		font-size: 1rem;
		margin-right: 0;
		margin-bottom: 1.25rem;
	}
	.open-nav .toggle-btn span{
	  background:transparent;
	}
	.open-nav .toggle-btn span:before{
	  transform: rotate(45deg) translate(6px, 6px);
	  animation: transform 10s ease-in-out 10s;
	}
	.open-nav .toggle-btn span:after{
	  transform: rotate(-45deg) translate(6px, -7px);
	  animation: transform 15s ease-in-out 15s;
	}
	.header img{
		width:110px;
	}
	.slds-tabs_default__content{
	  padding:1rem 0rem;
	}
	.social-button{
		margin:0.5rem 1rem;
	}
	.header{
	  position:fixed;
	  top:0;
	  left:0;
	  right:0;
	  z-index:5;
	  border-bottom:1px solid #ccc;
	}
	.donors-wrapper{
		padding:0 1rem;
	}
	.donors-wrapper .slds-col{
		width:100%;
		max-width:100%;
	}
	.slds-dl_horizontal{
		display:flex;
	}
	.page-container{
		padding-top:80px;
		min-height:100vh;
	}
	.slds-dl_horizontal .slds-dl_horizontal__label, 
	.slds-region_narrow .slds-dl_horizontal .slds-dl_horizontal__label{
		width:60%;
	}
	.slds-dl_horizontal .slds-dl_horizontal__detail, 
	.slds-region_narrow .slds-dl_horizontal .slds-dl_horizontal__detail{
		width:40%;
	}
}
@media(max-width:767px){
    .donation-card .slds-media__figure{
        width:100%;
        height:auto;
        margin:0;
        order:1;
    }
    .donation-card .slds-media__body{
        order:2;
    }
    .donation-card{
        flex-direction: column;
    }
	.acknowledge-container{
		margin-top:15vh;
	}
	.slds-carousel__indicator-action{
		display:none;
	}
}

var(--lwc-carouselIndicatorColorBackgroundActive,rgb(1, 118, 211))
