.THIS .searchBanner{
    font-size: xxx-large;
    font-weight: lighter;
    color: lightgrey;
}
.THIS .font-bold {
    font-weight: bold;
}
.THIS input[type=checkbox]:unchecked.green-checkbox{
    border-color: rgb(0, 178, 0); /*Choose your color*/
    box-shadow: 0 0 3px #006A00; /*Choose a darker color for the shadow*/
    background-color: rgb(0, 178, 0);
}
.THIS .selectedBox{
    border-color: blueviolet;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(14, 70, 57, 0.71);
    -moz-box-shadow: 0px 0px 5px 0px rgba(14, 70, 57, 0.71);
    box-shadow: 0px 0px 5px 0px rgba(14, 70, 57, 0.71);
}

.THIS .cHeader{
    display:none;
}