<template>
    <template if:true={fileUploaded}>
        <!--<div style="margin-left:4%">
            <div>
                <lightning-input label="" name="file uploader" onchange={handleFilesChange} type="file" multiple></lightning-input>
            </div><br/>
            <div class="slds-text-body_small slds-text-color_error">{fileName}
            <template if:true={showLoadingSpinner}>
                    <lightning-spinner alternative-text="Uploading......" size="medium"></lightning-spinner>
                </template>
            </div><br/>
            <div>
                <lightning-button class="slds-m-top--medium" label={UploadFile} onclick={handleSave} variant="brand" disabled={isTrue}></lightning-button>
            </div>
        </div><br/><br/>-->

        <div class="slds-clearfix">
            <!--<lightning-button class="slds-align_absolute-center" label={UploadFile} onclick={openModal} variant="brand" disabled={isComplete}></lightning-button>-->
            <button class="slds-button slds-button_brand slds-button_stretch" onclick={openModal} disabled={isComplete}>{UploadFile}</button>
        </div>
        

        <template if:true={isModalOpen}>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Upload Document</h2>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <!--<p><b>Modals/Popup Box are used to display content in a layer above the app.
                        </b></p>
                        <p><b>This paradigm is used in cases such as the creation or editing of a record, as well as various types of messaging and wizards.
                        </b></p>-->

                        <!--<div>
                            <h2>Enter assignment start date</h2>
                            <lightning-input type="date" name="input1" label="Enter a date" value={startDate}></lightning-input>
                        </div>-->

                        <div style="margin-left:4%">
                            <div>
                                <lightning-input label="" name="file uploader" onchange={handleFilesChange} type="file" multiple></lightning-input>
                            </div><br/>
                            <div class="slds-text-body_small slds-text-color_error">{fileName}
                            <template if:true={showLoadingSpinner}>
                                    <lightning-spinner alternative-text="Uploading......" size="medium"></lightning-spinner>
                            </template>
                            </div><br/>
                            <div>
                                <lightning-button class="slds-m-top--medium" label={UploadFile} onclick={handleSave} variant="brand" disabled={isTrue}></lightning-button>
                            </div>
                        </div><br/><br/>
                    </div>

                    <!-- Modal/Popup Box LWC footer starts here -->
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                        <button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">OK</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>

    </template>

    <template if:false={fileUploaded}>
    </template>

    <template if:true={slackMessage}>
        
        <div class="slds-clearfix">
            <!--<lightning-button class="slds-align_absolute-center" label={SlackMessageButtonText} onclick={openSlackModal} variant="brand" disabled={isComplete}></lightning-button>-->
            <button class="slds-button slds-button_brand slds-button_stretch" onclick={openSlackModal} disabled={isComplete}>{SlackMessageButtonText}</button>
        </div>
        

        <template if:true={isSlackModalOpen}>
            
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeSlackModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Send Slack Message</h2>
                    </header>
                    
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">

                        <div style="margin-left:4%">
                            <div>
                                <lightning-textarea label="Send introductory message to Slack" name="Slack Message" onchange={handleTextChange} type="textarea" placeholder="Type your message here"></lightning-textarea>
                            </div><br/>
                            <br/>

                            <!--<c-pdf-generate></c-pdf-generate>-->


                            <!--<div>
                                <lightning-button class="slds-m-top--medium" label='Send' onclick={handleTextSave} variant="brand" disabled={isTrue}></lightning-button>
                            </div>-->
                        </div><br/><br/>

                    </div>

                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeSlackModal} title="Cancel">Cancel</button>
                        <!--<lightning-button class="slds-m-top--medium" label='Send' onclick={handleTextSave} variant="brand" disabled={isTrue}></lightning-button>-->
                        <button class="slds-button slds-button_brand" onclick={handleTextSave} disabled={isTrue} title="Send">Send</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>

    </template>


    <template if:true={informationForm}>
        
        <div class="slds-clearfix">
            <!--<lightning-button class="slds-align_absolute-center" label={informationFormButtonText} onclick={openInformationModal} variant="brand" disabled={isComplete}></lightning-button>-->
            <button class="slds-button slds-button_brand slds-button_stretch" onclick={openInformationModal} disabled={isComplete}>{informationFormButtonText}</button>
        </div>
        

        <template if:true={isInformationModalOpen}>
            
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeInformationModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-03" class="slds-text-heading_medium slds-hyphenate">Employee Information Form</h2>
                    </header>
                    
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">

                        <div style="margin-left:4%">
                            
                            <c-onboarding_-app_-contact_-form 
                            contacttoshow = {contactfromlogin.Id}
                            showinformationform>
                            <!-- showinformationform = true -->
                            </c-onboarding_-app_-contact_-form>
                            
                        </div><br/><br/>

                    </div>

                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeInformationModal} title="Cancel">Cancel</button>
                        <button class="slds-button slds-button_brand" onclick={submitInformationDetails} title="Save">Save</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>

    </template>

</template>