.logo {
    height: 5rem;
    width: 10rem;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
.no-data-heading {
  padding: 10px;
  /* margin: 100px; */
  /* background: blue; */
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 20%;
}
  .logout-button {
    float: right;
}
.back-button {
		margin-top: -2rem;
}