/* css */
html{
	height: 100%;
}
body{
	min-height: 100%;
	position: relative;
}
.slds-container_x-large{
	margin:0 auto;
}
.full-height{
	height:100%;
}
.header{
	box-shadow:0 0px 6px 0px rgb(0, 0, 255, 0.5);
	padding: 0.25rem 0 0.75rem;
}
.logo-container{
	max-width:250px;
	height: 65px;
}
.logo-container img{
	max-width:100%;
	height: 100%;
}
.banner{
	position: relative;
	min-height:40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background:url('../images/banner.png') no-repeat;
	background-size: cover;
	background-position: center center;
	width:100%;
}
.banner h2{
	font-size: 2rem;
    line-height: 1.5;
}
.footer{
	background: #2a5ba1;
	color: #fff;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
}
.login-div{
	max-width: 25rem;
	margin:4rem auto;
}
.page-container{
	padding:1rem 0;
}